.subHeader-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  min-height: 80px;
  max-height: 80px;
}

.left-side, .right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  border: 1px solid;
}
